@font-face {
    font-family: "iransence";
    src: url('../fonts/IRANSansWeb.eot') format('eot'), url("../fonts/IRANSansWeb_Bold.eot") format('eot');
    /* url('myfont.woff') format('woff'); */
}

@font-face {
    font-family: "IRAN Sans Bold";
    src: url("../fonts/IRAN Sans Bold/@font-face/766132c828a90cbecf6f7f4027d12725.eot");
    /* IE9*/
    src: url("../fonts/IRAN Sans Bold/@font-face/766132c828a90cbecf6f7f4027d12725.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/IRAN Sans Bold/@font-face/766132c828a90cbecf6f7f4027d12725.woff2") format("woff2"), /* chrome、firefox */
    url("../fonts/IRAN Sans Bold/@font-face/766132c828a90cbecf6f7f4027d12725.woff") format("woff"), /* chrome、firefox */
    url("../fonts/IRAN Sans Bold/@font-face/766132c828a90cbecf6f7f4027d12725.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("../fonts/IRAN Sans Bold/@font-face/766132c828a90cbecf6f7f4027d12725.svg#IRAN Sans Bold") format("svg");
    /* iOS 4.1- */
}


/* ________________________________ body ______________________________________ */

* {
    color: rgb(14, 14, 19);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "IRAN Sans Bold";
}

a {
    text-decoration: none;
}

.main-grid-body {
    border-radius: 10px;
    text-align: center;
    /* background-color: rgb(255, 4, 4); */
    width: 95%;
    padding: 1px auto;
    margin: 1rem auto;
    display: grid;
    grid-template-rows: repeat(auto-fill, 200px);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-row-gap: 10px;
    grid-column-gap: 20px;
}

.grid-body {
    border-radius: 10px;
    /* background-color: orange; */
    border: 1px solid chartreuse;
    font-size: 25pt;
    padding-top: 30px;
}

.grid-container {
    border-radius: 10px;
    text-align: center;
    /* background-color: rgb(207, 209, 209); */
    width: 100%;
    margin: 0rem auto;
    display: grid;
    grid-template-columns: minmax(50px, 100px) 4fr minmax(100px, 150px);
    grid-template-rows: 180px 1fr 350px 350px 150px 150px;
    /* repeat(5, 100px); */
    /* grid-template-columns: repeat(3, 120px); */
    /* grid-template-columns: repeat(2, 120px) 200px; */
    /* grid-template-columns: repeat(2, 1fr) 200px; */
    /* grid-gap: 20px; */
    grid-row-gap: 8px;
    grid-column-gap: 15px;
}

.grid-item {
    /* padding: 10px; */
    /* margin: 1rem auto; */
    border-radius: 10px;
    /* background-color: orange; */
    border: 1px solid rgb(117, 112, 112);
    font-size: 25pt;
    padding-top: 30px;
}

.item-header {
    grid-area: 1/1/1/4;
    /* background-color: #c5cac9; */
    background-image: linear-gradient(to bottom, #fff, #4442384f), url("../pic/headrebg.jpg");
    background-size: cover;
}

.item-body {
    grid-area: 3/2/5/3;
    /* background-color: #cbd5d6; */
    /* start row/start col/stop row/stop col*/
}


/* _______________ footer _______________________*/

.item-footer {
    grid-area: 6/1/6/4;
    background-color: #d1d9da;
}

.item-6 {
    grid-area: 5/1/5/4;
    background-color: #d6d9da;
}


/*________________ promotion _______________________*/

.item-7 {
    grid-area: 3/1/4/1;
    background-color: #d6d9da;
    padding: 0;
    border-radius: 10px;
}

.imgsx {
    height: 100%;
    border-radius: 10px;
    border: 1px solid bisque;
}

.item-8 {
    grid-area: 4/1/5/1;
    background-color: #d6d9da;
    padding: 0;
}

.imgS8 {
    height: 100%;
    border-radius: 10px;
    border: 1px solid bisque;
}


/* ___________________Top menu_________________________ */

.item-topmenu {
    grid-row: 2/2;
    grid-column: 1/4;
    /* ____________________*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: 1fr;
    padding: 0px;
    background-color: #d1d3c5;
    font-size: 24px;
}

.menu_top_left {
    background-image: linear-gradient(to bottom, #4442384f, #5e5d50);
    border-radius: 10px;
    padding: auto auto;
}

.menu_top_right {
    background-image: linear-gradient(to bottom, #4442384f, #5e5d50);
    border-radius: 10px;
}

.menu_top_div {
    padding: 0px;
    margin: 0px;
    border: 0;
    outline: 0;
    border-radius: 10px;
}

.ULmainMenu li {
    display: inline-block;
    /* float: none; */
    /* display: inline-block; */
    /* zoom: .56; */
    /* *display: inline; */
    /* padding: 10px; */
    /* margin: 0px; */
}

.ULmainMenu {
    /* ul*/
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #4442384f, #5e5d50);
    /* margin-top: -45px; */
    /* circle s */
    list-style-type: none;
    /* left to right */
    margin: 0;
    padding: 0 30px 0 30px;
    outline: 0px;
    border: 0px dashed red;
    /* overflow: hidden; */
    /* background-color: #333; */
}

.ULmainMenu li a {
    /* display: block; */
    color: white;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
}

.ULmainMenu li::first-line {
    /* content: '111'; */
    /* display: inline-block; */
    height: 55px;
    width: 95px;
    background-image: url('../pic/menu.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
    /* margin-left: -35px; */
}


/* _________ right menu ____________ */

.item-rightmenu {
    grid-area: 3/3/5/3;
    background-color: #c5c6cc;
    padding: 0;
}

.menu-rights {
    vertical-align: top;
    margin-top: 0px;
}

.mainMenuright li::first-line {
    content: '111';
    display: inline-block;
    height: 55px;
    width: 95px;
    background-image: url('../pic/menu.png');
    background-size: contain;
    background-repeat: no-repeat;
    color: whitesmoke;
    /* margin-left: -35px; */
}

.mainMenuright li {
    font-size: 48px;
    border-bottom: 1px dashed rgb(117, 112, 112);
    float: none;
    /* display: inline-block; */
    zoom: .56;
    *display: inline;
    padding: 10px;
    margin: 0px;
}

.mainMenuright li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.mainMenuright {
    border-radius: 15px;
    background-image: linear-gradient(to bottom, #4442384f, #5e5d50);
    /* margin-top: -45px; */
    list-style-type: none;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    overflow: hidden;
    /* background-color: #333; */
}

.submenurightul {
    align-items: baseline;
    background-image: linear-gradient(to bottom, #4442384f, #5e5d50);
    display: none;
}

li:hover {
    background-color: orange;
}

.rightMenuSub:hover {
    background-color: red;
}

li:nth-child(even) {
    background-image: linear-gradient(to bottom, #5e5d50, #4442384f);
}


/*  __________________________________________ */

#mybody {
    /* background-color: rgba(32, 32, 73, 0.651); */
    overflow: auto;
    padding: 1px auto;
}

.grid-body {
    border: 30px solid transparent;
    border-image: url("../pic/tag.png") round;
    /* 30 stretch;*/
    background-color: rgb(153, 123, 123);
}


/*_____________________________form________________*/

input,
select {
    background-image: url("../pic/tag.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    padding: 2px 2px 2px 50px;
    border-radius: 15px;
    position: absolute;
    right: 150px;
    border-color: #cfcfcf;
    width: 300px;
    margin: 30px;
}

form {
    /* float: right; */
    margin: 50px auto;
    font-family: iranyekan;
    width: 80%;
    padding: 40px auto;
    background-color: sandybrown;
}

fieldset,
.formsdiv {
    margin: 10px;
    padding: 30px;
    background-color: tan;
    border-radius: 15px;
}