.story {
    /* background-color: goldenrod; */
    grid-column: 1/-1;
}

.story-images {
    display: grid;
    grid-gap: 10px;
    padding: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.image {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.mimage-1 {
    content: url("../pic/story1.png");
    border-style: groove;
    border-width: 25px;
    border-color: crimson;
    background-position: center center;
    background-attachment: fixed;
}

.mimage-2 {
    content: url("../pic/story2.png");
    background-position: center;
    border-left-style: groove;
    border-left-width: 25px;
    border-left-color: red;
    border-top-style: ridge;
    border-top-width: 25px;
    border-top-color: rgba(231, 20, 20, 0.705);
}

.mimage-3 {
    content: url("../pic/story3.png");
    background-position: center;
    border: 5px solid red;
}

.mimage-4 {
    content: url("../pic/story4.png");
    background-position: center;
}

@media screen and (max-width:670px) {
    .image-4 {
        grid-column: 2/3;
    }
}

@media screen and (max-width:400px) {
    .image-4 {
        grid-column: auto;
    }
}