<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>css grid</title>
    <link rel="stylesheet" href="./myCssStyle.css">
</head>

<body>
    <div class="grid-container">

        <div class="grid-item item-header">header</div>
        <div class="grid-item item-body">Body</div>
        <div class="grid-item item-footer">footer</div>

        <div class="grid-item item-topmenu">
            top menu
            <div class="menu-top">
                <ul>
                    <li>menu1</li>
                    <li>menu2</li>
                    <li>menu3</li>
                    <li>menu4</li>
                    <li>menu5</li>
                </ul>
            </div>
        </div>
        <div class="grid-item item-rightmenu">right menu</div>

        <div class="grid-item item-6">6</div>

        <div class="grid-item item-7">7</div>
        <div class="grid-item item-8">8</div>
    </div>


</body>

</html>